@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <pagetitle class="display-4">Welcome</pagetitle>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Products" asp-action="Index">Products</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Products" asp-action="OnDiscount">On Discount</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Products" asp-action="OnSale">On
                Sale</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Categories" asp-action="Index">Categories</a>
        </li>
        <li>
            <a class="text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
    </ul>
</div>
