html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.navbar-brand:hover {
  color: red !important;
}

nav  ul  li .nav-link:hover {
  color: red !important;
}

nav img.nav-logo {
  width: 25px;
  height: auto;
}